<p>A new {{ title }} is here</p>

<!-- this is property binding -->
<a href="{{ url }}">Google.com</a> <!-- older angular not work -->
<br>
<a [href]="url">Google.com</a>
<br>
<span [innerText]="yahoo"></span>
<br>
<p [class]="myclass">Some text here</p>
