<div class="card mt-2" style="width: 18rem;" *ngFor="let book of books">
  <img src="{{ book.picture }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">{{ book.description }}</p>
    <a href="#" class="btn btn-primary" (click)="showDetail(book.title)">
      Show Details
    </a>
  </div>
</div>
