
<a routerLink="/employee-new" class="btn btn-primary btn-sm mb-1">New Employee</a>
<input type="text" class="form-control" [(ngModel)]="name" (keyup)="doSearch()">
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; index as no">
      <td>{{ no + 1 }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.age }}</td>
      <td>
        <a routerLink="/employee-edit/{{ employee.id }}" class="btn btn-info btn-sm">Edit</a>&nbsp;
        <button class="btn btn-danger btn-sm" (click)="onDelete(employee.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
