<div class="card mt-2" style="width: 40%;">
  <img src="{{ book.picture }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">{{ book.description }}</p>
    <p class="card-text">Price RM : {{ book.price }}</p>
    <p class="card-text">ISBN : {{ book.isbn }}</p>
  </div>
</div>
