<p>employee-form works!</p>
<div class="container col-md-6">
  <div class="row">
    <div class="col-md-12">
      <label>Name</label>
      <input type="text" [(ngModel)] = "emp.name" value="{{ emp.name }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>Email</label>
      <input type="text" [(ngModel)] = "emp.email" value="{{ emp.email }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>Post</label>
      <input type="text" [(ngModel)] = "emp.post" value="{{ emp.post }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>User ID</label>
      <input type="text" [(ngModel)] = "emp.empid" value="{{ emp.empid }}" class="form-control" [disabled]="mode === 'update'">
    </div>
    <div class="col-md-12">
      <input type="button" value="Submit" (click)="doSubmit()" class="btn btn-primary">
    </div>
  </div>
</div>
