Interest Rate {{ interest_rate | percent:'1.1' }}
<br>
RM = {{ rm | currency: 'RM' }}
<br>

Slice Example {{ 'heroes' | slice:1:3 }}
<br>
Today = {{ today | date:'short' }}

<button (click)="doClick()" [ngClass]="getClass()">{{ 'Display Detail' | uppercase }}</button>
<p *ngIf="show" [ngStyle]="{backgroundColor:getColor()}">Secret Password = Tuna!</p>

<p *ngFor="let log of logs" [class]="{biru: log >= 5}"> {{ log }}</p>
