<div class="container">
  <input type="text" [(ngModel)]="title" (keyup.enter)="doSearch()">
  <table class="table table-primary table-bordered table-striped table-hover">
    <thead>
      <tr>
        <td>No</td>
        <td>ID</td>
        <td>Title</td>
        <td>Body</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; index as no">
        <td>{{ no + 1 }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
