<p *ngIf="show">show-hide works!</p>
<button (click)="doClick()">{{ label }}</button>

<ul>
  <li *ngFor="let name of names; index as no">
    {{ no + 1 }}. {{ name }}
  </li>
</ul>

<div [ngSwitch]="name">
  <div *ngSwitchCase="'cat'">A Cat</div>
  <div *ngSwitchCase="'dog'">A Dog</div>
  <div *ngSwitchCase="'bird'">A Bird</div>
  <div *ngSwitchDefault>An Animal</div>
</div>
