Guess a number : <input type="text" [(ngModel)]="guessNo">
<button class="btn btn-primary" (click)="checkAnswer()">Go</button>
<p>{{ message }}</p>
<button *ngIf="win" (click)="playAgain()">Play Again ?</button>
