User Name : <input type="text" [(ngModel)]="username">
{{ username }}
<button (click)="onClearInput()">Clear Input</button>

<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>

<app-servers></app-servers>

<app-hello></app-hello>

<p>Hi</p>

<hr>

<app-hero></app-hero>
