<a routerLink="/" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact:true}">Home</a> |
<a routerLink="/book" routerLinkActive="menu-active">Book</a> |
<a routerLink="/post" routerLinkActive="menu-active">Post</a> |
<a routerLink="/employee" routerLinkActive="menu-active">Employee</a> |

<router-outlet></router-outlet>
<hr>

<input type="text" (keydown.enter)="doTitle($event)">

<!-- <app-book-list></app-book-list>
<hr>

<app-post></app-post> -->
