<h4>Employee List</h4>
<a routerLink="/employee-new" class="btn btn-primary">New Employee</a>

<table class="table table-secondary table-bordered table-hover table-striped">
  <thead>
    <tr>
      <td>NO</td>
      <td>Name</td>
      <td>Email</td>
      <td>Post</td>
      <td>User ID</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees; index as no">
      <td>{{ no + 1 }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.post }}</td>
      <td>{{ emp.empid }}</td>
      <td>
        <a routerLink="/employee-form/{{ emp.empid }}" class="btn btn-primary btn-sm mr-1">Edit</a>&nbsp;
        <button class="btn btn-warning btn-sm" (click)="doDelete(emp.empid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
