
<div class="container">
  <app-header></app-header>
  <app-menubar (menu)="showContent($event)"></app-menubar>

  <app-guess *ngIf="menu === 'guess'"></app-guess>

  <app-contact *ngIf="menu === 'contact'"></app-contact>
  <app-about *ngIf="menu === 'about'"></app-about>

  <div class="row" *ngIf="menu === 'home'">
    <div class="col-md-4">
      <app-book (details)="onDetails($event)"></app-book>
    </div>
    <div class="col-md-8">
      <app-book-details [book]="abook"></app-book-details>
    </div>
  </div>
</div>
