Number of Server : <button (click)="onClick()">Create Server</button>
<!-- data binding -->
<input type="text" value="" (input)="onInput($event)">
{{ text }}

<!-- two way data binding -->
<input type="text" value="" [(ngModel)]="text2">
{{ text2 }}

<app-server></app-server>
<app-server></app-server>
<app-server></app-server>

