<p>Reactive Form</p>

<form [formGroup]="myform" (ngSubmit)="doSave()">
  <div class="row">
    <div class="col-md-12">Name</div>
    <div class="col-md-12">
      <input type="text" formControlName="name">
      <div *ngIf="myform.get('name').touched && name.errors">
        <div class="text-danger">Name is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">post</div>
    <div class="col-md-12">
      <input type="text" formControlName="post" required>
      <div *ngIf="post.touched && post.errors">
        <div class="text-danger">Post is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">Email</div>
    <div class="col-md-12">
      <input type="text" formControlName="email" required email>
      <div *ngIf="email.touched && email.errors">
        <div class="text-danger" *ngIf="email.errors['required']">
          Email is required
        </div>

        <div class="text-danger" *ngIf="email.errors['email']">
          Email must conform to email format
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="submit" value="Save">
    </div>
  </div>
</form>
