<div class="container col-md-6">
  <div class="row">
    <div class="col-md-12">
      <label>Name</label>
      <input type="text" [(ngModel)] = "emp.name" value="{{ emp.name }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>Email</label>
      <input type="text" [(ngModel)] = "emp.email" value="{{ emp.email }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>Age</label>
      <input type="text" [(ngModel)] = "emp.age" value="{{ emp.age }}" class="form-control">
    </div>
    <div class="col-md-12">
      <label>Employee ID</label>
      <input type="text" [(ngModel)] = "emp.id" value="{{ emp.id }}" class="form-control" [disabled]="mode === 'edit'">
    </div>
    <div class="col-md-12 mt-1">
      <input type="button" value="Submit" (click)="doSubmit()" class="btn btn-primary">
    </div>
  </div>
</div>
