<p>Template Driven Form</p>
<form (ngSubmit)="login(myform)" #myform="ngForm">
  <div>
    <input type="text" ngModel name="username" placeholder="Username" required #username="ngModel" />
    <div *ngIf="myform.submitted && username.errors">
      <div *ngIf="username.errors && username?.errors['required']" class="text-danger">Username is required</div>
    </div>
  </div>
  <div>
    <input type="password" ngModel name="password" placeholder="Password" required minlength="3" #password="ngModel" />
    <div *ngIf="myform.submitted && password.errors">
      <div class="text-danger" *ngIf="password.errors && password?.errors['required']">Password is required</div>
      <div class="text-danger" *ngIf="password.errors && password?.errors['minlength']">Password min character is 3</div>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </div>
</form>
